PORT=3001
MONGO_CONNECTION_STRING=mongodb://inrange:Qwerty@45.35.62.58:27017/inrange?authSource=admin&w=1
JWT_SECRET=Mysecret
PLIVO_AUTHID=
PLIVO_TOKEN=
PLIVO_NUMBER=
ENVIRONMENT=DEV
STRIPE_SECRET_KEY=sk_test_51HpIc4HZa7oInkPy4TAljlxJ2gi0cLtNL3IAIjcPFLfjDeVJDiGV6Y17caXBdWfIAJzIVYuLPk9JRimARgYJ1Aoj00WE9RADWk